@{
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <section>
        <div style="height:50vh">
        <div class="background2">
            <h1 class="text centeredText text-white">Visit Us</h1></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col align-self-start text-light" >
                <div>
                    <h1>Come in!</h1>
                    <p>Our cozy coffee shop on East Avenue is nestled within a residential home, seamlessly blending in with the charming neighborhood. 
                        You'll find us conveniently located across the street from Mary Jo Peckham Park and the Katy Library. 
                        As you step through the familiar front door, you'll be greeted with the inviting aroma of freshly brewed coffee 
                        and the cozy ambiance that feels like home.</p>
                    <header>
                        <h5 class="fw-bold">Location</h5>
                        <p>1933 East Ave, Katy, TX, United States, Texas</p>
                    </header>
                    <header>
                        <h5 class="fw-bold">Hours:</h5>
                        <ul style="list-style:none; padding:0px">
                            <li>Monday-Friday: 6:30AM-6:30PM</li>
                            <li>Saturday: 8:00AM-6:00PM </li>
                            <li>Sunday: Closed</li>
                        </ul>
                    </header>
                    <header>
                        <h5 class="fw-bold">Contact Information</h5>
                            <ul style="list-style:none; padding:0px">
                            <li>(832) 437-6666</li>
                            <li>exampleemail@gmail.com</li>
                        </ul>
                    </header>
                </div>
            </div>
            <div class="col-md-6 align-self-sm-start card" style="background-color:#E3E3E3">
                <div class="card-body">
                    <h2>Or send us a message!</h2>
                    <form>
                        <div class="form-group" >
                            <label for="inputName">Your Name</label>
                            <input class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Enter name">
                        </div>
                        <div class="form-group" style="padding-top:5px">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
                        </div>
                        <div class="form-group" style="padding-top:20px;padding-bottom:20px">
                            <textarea class="form-control" id="inputMessage" rows="3" placeholder="Your Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Send Message </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
