@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=FontName&display=swap" rel="stylesheet">
</head>
<body>
    <div class="text-light">
        <header>
            <h1>A coffee shop rooted in community, just like its people - located in the heart of Old Katy.</h1>
            <p>
                Welcome to The Coffee Barr, where we serve more than just exceptional coffee.
                Our locally roasted, specialty blends are paired with freshly baked pastries and a delectable menu of breakfast and lunch items,
                all crafted with care by our talented team.
            </p>
        </header>
    </div>

</body>
</html>
